.main {
    width: 100%;
    overflow: hidden;
    font-family: arial;
}
.header {
    width: 100%;
    height: 90vh;
    background: #888 url(../images/banner.jpg) no-repeat center/cover fixed;
    background-blend-mode: multiply;
    overflow: hidden;

}

.header-inner {
    width: 70%;
    height: 100%;
    margin: auto;

}

.logo {
    width: 250px;
    height: 60px;
    float: left;
    margin-top: 15px;
    padding-top: 20px;
}

.logo img {
    vertical-align: middle;
}

.logo span {
    color: white;
    font-size: 20px;
    margin-left: 10px;
}

nav {
    width: 600px;
    height: 60px;
    float: right;
    margin-top: 15px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav ul li {
    width: 150px;
    height: 60px;
    text-align: center;
    float: left;
    line-height: 60px;
    color: white;
}
nav ul li:hover{
    color: #f90;
}

nav ul li:first-of-type {
    color: orange;
}

.clear {
    clear: both;
}

.header-content {
    width: 50%;
    color: white;
}
.header-content h1{
    font-size: 60px;
    font-family: "arial black";
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    margin: 0;
}
.header-content p{
    margin-bottom: 30px;
}
.btn{
    width: 80%;
    height: 60px;
}
.btn div:first-of-type{

    width: 150px;
    height: 60px;
    background:orange;
    border-radius: 20px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    float: left;
}
.btn div:first-of-type:hover{
    border:1px solid white;
    background: transparent;
    color: white;
    cursor:pointer;
}
.btn div:last-of-type{
    width: 150px;
    height: 60px;
    border:1px solid orange;
    border-radius: 20px;
    text-align: center;
    line-height: 60px;
    font-size: 20px;
    box-sizing: border-box;
    float: left;
    margin-left: 10px;
    color: orange;
}
.btn div:last-of-type:hover{
    border:none;
    background: white;
    color: black;
    cursor:pointer;
}
.section{
    background: #ccc;
    height: 400px;
}
.section-inner{
    width: 70%;
    height: 100%;
    margin: auto;
}
.block{
    width: 30%;
    height: 300px;
    background: white;
    border-radius: 20px;
    box-sizing: border-box;
    padding: 10px;
    text-align: center;
    float: left;
    margin: 50px calc(10% / 6);
}
.section2{
    width: 100%;
    height: 600px;
    overflow: hidden;
}
.section-inner2{
    width: 70%;
    height: 100%;
    margin: auto;
}
.text{
    width: 50%;
    float: left;
    margin-top: 50px;
}
.text ul{
    list-style: '\2661';
    font-size: 30px;
    line-height: 2;
}
.text ul li::marker{
    color: #f90;
    letter-spacing: 20px;
}
.burger-img {
    width: 50%;
    float: left;
    text-align: center;
    
}
.burger-img img{
    height: 500px;
}